body {
    background-color: #EFEFEF;
}

#left-sidebar {
    background-color: #EFEFEF;
    grid-area: lsidebar;
}

#content {
    grid-area: content;
    position: top;
    font-family: "proxima-nova",sans-serif;
    background-color: #F9FAFC 0% 0% no-repeat padding-box;
    margin-bottom: 0px;
    text-align: center;
    align-items: center;
    min-width: 450px;
}

#chat-content {
    padding-bottom: 20px;
    height: calc(50%);
    max-height: 700px;
    color: #CCCCCC;
    display: -webkit-flex;
    display: flex;
    align-items: center; /* <-- Here */
    justify-content: center; /* optional */
}

#chat-content > h3 {
    font-size: 30px;
    font-family: "proxima-nova",sans-serif;
}

#wrapper {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-areas: 'header header ' 'lsidebar content '  'footer footer ';
    background-color: #F9FAFC 0% 0% no-repeat padding-box;
}

#featured-story {
    padding: 10px;
    margin: 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 0px 0px 10px 10px;
    border-top: 8px solid #F79041;
    letter-spacing: 0px;
}

#countdown-time {
    font-size: 17px;
    font-family: "proxima-nova",sans-serif;
    letter-spacing: 0px;
    color: #ED4286;
}

#featured-story-post > a > h1 {
    color: #ED4286;
}

#featured-story-post > h2 {
    color: #BF4F9F;
}

#featured-story-post > a > h2 {
    color: #46C4F4;
}

#featured-story-post > a {
    text-decoration: none;
}

#featured-votes > p {
    letter-spacing: 0px;
    color: #F79041;
    font-weight: bold;
    padding: 10px;
    font-size: 24px;
}

#featured-vote {
    background: transparent linear-gradient(101deg, #FEBA2C 0%, #F79041 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    position: absolute; 
    left: 300;
    right: 0;
    margin-top: -12px;
    margin-left: auto; 
    margin-right: auto; 
    width: 348px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#featured-vote > button {
    background-color: Transparent;
    font-size: 50px;
    padding: -15px;
    border-width: 0px;
}

#featured-vote > button:focus {
  outline: none;
}

#top-story-header {
    text-align: center;
}

#top-story-header > h1 {
    font-size: 24px;
    font-family: "proxima-nova",sans-serif;
    padding: 20px;
    color: #313131;
}

.emoji *{
    font-size: 100px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.top-story {
    text-align: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
    margin: 20px;
    border-top: 6px solid #F79041;
}

.top-story > h2 {
    padding: 0px 0px 0px 0px;
    font-size: 17px;
    font-family: "proxima-nova",sans-serif;
    letter-spacing: 0px;
    color: #2F394D;
    font-weight: bold;
}

.top-story > h3 {
    padding: 0px 0px 0px 0px;
    font-size: 10px;
    font-family: "proxima-nova",sans-serif;
    letter-spacing: 0px;
    color: #2F394D;
}

.top-story > p {
    padding: 0px 0px 0px 0px;
    font-size: 14px;
    font-family: "proxima-nova",sans-serif;
    color: #313131;
    font-weight: bold;
}

.top-story > h2 > a {
    text-decoration: none;
    color: #313131;
}

#featured-story {
    min-height: 300px;    
}

.base-timer {
    position: relative;
    width: 75px;
    height: 75px;
    margin: 0 auto;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
    position: absolute;
    width: 75px;
    height: 75px;
    margin: 0 auto;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: "proxima-nova",sans-serif;
}
