body {
    background-color: #EFEFEF;
}

#left-sidebar {
    background-color: #EFEFEF;
    grid-area: lsidebar;
}

#content {
    grid-area: content;
    position: top;
    font-family: 'proxima-nova', Fallback, sans-serif;
    background-color: #313131;
    color: #FFFFFF;
    margin-bottom: 0px;
    text-align: center;
    align-items: center;
    min-width: 450px;
}

#chat-content {
    background-color: #bfbfbf;
    padding-bottom: 20px;
    height: calc(100% - 600px);
    max-height: 700px;
    color: #999999;
    display: -webkit-flex;
    display: flex;
    align-items: center; /* <-- Here */
    justify-content: center; /* optional */
}

#chat-content > h3 {
    font-size: 30px;
    font-family: 'proxima-nova', Fallback, sans-serif;
}

#wrapper {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-areas: 'header header ' 'lsidebar content '  'footer footer ';
    background-color: #EFEFEF;
}

#featured-story {
    padding: 10px;
}

#featured-story > a {
    color: #FFFFFF;
    text-decoration: none;
}

#featured-vote {
    background-color: #DCDCDC;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#featured-vote > button {
    font-size: 50px;
    background-color: #DCDCDC;
    padding: -15px;
    border-width: 0px;
}

#featured-vote > button:focus {
  outline: none;
}

#top-story-header {
    text-align: center;
}

#top-story-header > h1 {
    font-size: 24px;
    font-family: 'proxima-nova', Fallback, sans-serif;
    padding: 20px 20px 0px 20px;
    color: #313131;
}

.emoji *{
    font-size: 100px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.top-story {
    text-align: center;
    border-radius: 25px;
    background-color: #bfbfbf;
    padding: 10px;
    margin: 0px 10px 10px 10px;
}

.top-story > h2 {
    padding: 0px 0px 0px 0px;
    font-size: 18px;
    font-family: 'proxima-nova', Fallback, sans-serif;
    color: #313131;
}

.top-story > h3 {
    padding: 0px 0px 0px 0px;
    font-size: 12px;
    font-family: 'proxima-nova', Fallback, sans-serif;
    color: #313131;
}

.top-story > p {
    padding: 0px 0px 0px 0px;
    font-size: 14px;
    font-family: 'proxima-nova', Fallback, sans-serif;
    color: #313131;
}

.top-story > h2 > a {
    text-decoration: none;
    color: #313131;
}

#featured-story {
    min-height: 300px;    
}

.base-timer {
    position: relative;
    width: 75px;
    height: 75px;
    margin: 0 auto;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
    position: absolute;
    width: 75px;
    height: 75px;
    margin: 0 auto;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: 'proxima-nova', Fallback, sans-serif;
}
